.canvas {
    border: 2px dashed #C4C4C4;
    border-radius: 6px;

    width: 243px;
    height: 448px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-title {
            font-weight: 500;
            color: #5D5FEF;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 4px;
            margin-top: 12px;
        }

        &-subtitle {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #6B7280;
        }
    }
}

.calc {
    width: 240px;
    height: 427px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc>* {
    margin-bottom: 12px;
}